h5 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: #373737;
    margin: 15px 0 20px 0;
    text-transform: uppercase;
}

.row {
    margin-bottom: 0;
}

.noPadding {
    padding: 0 !important;
}